<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'css/sytle.css' %}">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<header>
    <a href="{% url 'home' %}">Kun.uz |</a>
    {% for category in categories %}
        <a href="{% url 'category_news' category.slug %}">{{ category.name }} |</a>
    {% endfor %}
    <hr>
    {% for city in cities %}
        <a href="{% url 'city_news' city.slug %}">{{ city.name }} |</a>
    {% endfor %}
    <hr>
</header>

<div>
    {% block content %}

    {% endblock %}
</div>

<footer>
    Footer
</footer>

</body>
</html>